@page "/Create-private-customer"
@using _2nd.Semester.Eksamen.Application.DTO
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Domain.Entities.Persons
@inject IPrivateCustomerService createCustomerService
@rendermode InteractiveServer

<h1>Opret privatkunde</h1>
<EditForm Model="@privateCustomerDTO" OnValidSubmit="@HandleValidSubmit"  class="col-10 p-0" formname="CreateCustomerForm">
	<DataAnnotationsValidator />
	<ValidationSummary />
<div class="whole-form">
	
	<div class="form-group">
			<label for="FirstName" class="form-labels"> Fornavn </label>
		<InputText id="FirstName" @bind-Value="@privateCustomerDTO.Name" class="form-control" placeholder="Fornavn..."/>
			
	</div> 

	<div class="form-group">
			<label for="LastName" class="form-labels"> Efternavn </label>
		<InputText id="LastName" @bind-Value="@privateCustomerDTO.LastName" class="form-control" placeholder="Efternavn..." />

	</div>
	
	<div class="form-group">
			<label for="City" class="form-labels"> By </label>
		<InputText id="City" @bind-Value="@privateCustomerDTO.City" class="form-control" placeholder="By..." />

	</div>

	<div class="form-group">
			<label for="PostalCode" class="form-labels"> Postnummer </label>
		<InputText id="PostalCode" @bind-Value="@privateCustomerDTO.PostalCode" class="form-control" placeholder="Postnummer..." />

	</div>
	
	<div class="form-group">
			<label for="StreetName" class="form-labels"> Vejnavn </label>
		<InputText id="StreetName" @bind-Value="@privateCustomerDTO.StreetName" class="form-control" placeholder="Vejnavn..." />

	</div>

	<div class="form-group">
			<label for="HouseNumber" class="form-labels"> Husnr</label>
		<InputText id="HouseNumber" @bind-Value="@privateCustomerDTO.HouseNumber" class="form-control" placeholder="Husnr..." />

	</div>

	<div class="form-group">
			<label for="PhoneNumber" class="form-labels"> Tlfnrr</label>
		<InputText id="PhoneNumber" @bind-Value="@privateCustomerDTO.PhoneNumber" class="form-control" placeholder="Tlfnummer..." />

	</div>
	<div class="form-group">
			<label for="Email" class="form-labels"> Husnr</label>
		<InputText id="Email" @bind-Value="@privateCustomerDTO.Email" class="form-control" placeholder="Email..." />

	</div>

	<div class="form-group">
			<label for="Gender" class="form-labels">Køn:</label>
		<InputSelect @bind-Value="@privateCustomerDTO.Gender">
			@foreach (var gender in Enum.GetValues<Gender>())
			{
				<option value="@gender">@gender</option>
			}
		</InputSelect>
	</div>

	<div class="form-group">
			<label for="BirthDayWrapper" class="form-labels"> Fødselsdag</label>
		<InputDate id="BirthDayWrapper" @bind-Value="@privateCustomerDTO.BirthdayWrapper" class="form-control" min="1920-01-01"
				   max="@DateTime.Today.ToString("yyyy-MM-dd")" />

	</div>

		<div class="form-btn">
			<button type="submit" class="btn btn-primary">Opret firmakunde</button>
		</div>
</div>
</EditForm>



@code {

	public PrivateCustomerDTO privateCustomerDTO = new PrivateCustomerDTO()
		{
			BirthdayWrapper = new DateTime(1920, 1, 1)
		};

	private void HandleValidSubmit()
	{
		createCustomerService.CreatePrivateCustomerAsync(privateCustomerDTO);
	}

	

}
