@page "/createemployee"
@using _2nd.Semester.Eksamen.Domain.Entities.Persons;
@using _2nd.Semester.Eksamen.Domain.Entities.Persons.Employees
@using _2nd.Semester.Eksamen.Domain.Helpers;
@using WebUIServices;
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@rendermode InteractiveServer
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.EmployeePages
	<FloatingPage>
		<div style="margin: 30px;">
			<h2>Lav Ny Medarbejder</h2>
			<EditForm Model="Input" OnValidSubmit="CreateEmployeeAsync" class="row p-3" FormName="CreateEmployeeForm">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<div class="form-inputs">
					<div class="row">
						<div class="col-md-6">
							<InputText @bind-Value="Input.FirstName" placeholder="Fornavn" class="form-control m-1" />
						</div>
						<div class="col-md-6">
							<InputText @bind-Value="Input.LastName" placeholder="Efternavn" class="form-control m-1" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<InputText @bind-Value="Input.Email" placeholder="Email" class="form-control m-1" />
						</div>
						<div class="col-md-6">
							<InputText @bind-Value="Input.PhoneNumber" placeholder="TelefonNummer" class="form-control m-1" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<select @bind="Input.Gender" class="form-select m-1">
								@foreach (var gender in Enum.GetValues(typeof(Gender)).Cast<Gender>())
								{
									<option value="@gender">@gender.GetDescription()</option>
								}
							</select>
						</div>
						<div class="col-md-6">
							<select @bind="Input.ExperienceLevel" class="form-select m-1">
								@foreach (var level in Enum.GetValues(typeof(ExperienceLevels)).Cast<ExperienceLevels>())
								{
									<option value="@level">@level.GetDescription()</option>
								}
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<select @bind="Input.Type" class="form-select m-1">
								@foreach (var type in Enum.GetValues(typeof(EmployeeType)).Cast<EmployeeType>())
								{
									<option value="@type">@type.GetDescription()</option>
								}
							</select>
						</div>
						<div class="col-md-6">
							<InputNumber @bind-Value="Input.BasePriceMultiplier"
										 placeholder="Omregningsfaktor"
										 title="Prisen på en behandling udregnes som 'behandlingens pris' * 'medarbejderens omregningsfaktor' (1 vil være behandlingens normal pris) "
										 class="form-control m-1" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<InputText @bind-Value="Input.Address.City" placeholder="By" class="form-control m-1" />
						</div>
						<div class="col-md-6">
							<InputText @bind-Value="Input.Address.PostalCode" placeholder="Postkode" class="form-control m-1" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<InputText @bind-Value="Input.Address.StreetName" placeholder="Gade" class="form-control m-1" />
						</div>
						<div class="col-md-6">
							<InputText @bind-Value="Input.Address.HouseNumber" placeholder="Hus Nummer" class="form-control m-1" />
						</div>
					</div>





					<div class="row">
						<div class="mb-3">
							<label class="form-label">Vælg eksisterende specialiteter:</label>
							<div class="border rounded p-2" style="overflow-y:scroll; height:7.7rem">
								@foreach (var specialty in specialtyItems.Where(s => !string.IsNullOrWhiteSpace(s.Specialty)))
								{
									<div class="form-check">
										<InputCheckbox class="form-check-input"
													   @bind-Value="specialty.Status" />
										<label class="form-check-label ms-2">
											@specialty.Specialty
										</label>
									</div>
								}
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">Tilføj ny specialitet:</label>
							<div class="d-flex gap-2">
								<InputText @bind-Value="newSpecialty"
										   class="form-control"
										   placeholder="Ny specialitet..." />
								<button type="button"
										class="btn btn-outline-primary h-100"
										@onclick="AddSpecialty">
									Tilføj
								</button>
							</div>
						</div>

						@if (manuallyAddedSpecialties.Any())
						{
							<ul class="list-group mb-3">
								@foreach (var item in manuallyAddedSpecialties.Where(s => !string.IsNullOrWhiteSpace(s)))
								{
									<li class="list-group-item d-flex justify-content-between align-items-center" style="padding-left:10px;">
										@item
										<button class="btn btn-sm bg-transparent" style="height:100%; padding:0;margin:0;margin-right:4px; color:darkred;"
												@onclick="() => RemoveSpecialty(item)">
											X
										</button>
									</li>
								}
							</ul>
						}

					</div>

					<button class="btn btn-primary" Style="width:100%;" type="submit">Lav ny Medarbejder</button>
				</div>
			</EditForm>
		</div>
	</FloatingPage>