@page "/employeedetails/{id:int}"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.EmployeePages
@rendermode InteractiveServer
@using _2nd.Semester.Eksamen.Domain.Entities.Persons;
@using _2nd.Semester.Eksamen.Domain.Helpers;
@using _2nd.Semester.Eksamen.Domain.Entities;
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@using WebUIServices;
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages


@if (ShowConfirmDelete)
{
    <BookingNotification IsVisible="ShowConfirmDelete" IsVisibleChanged="@(v => ShowConfirmDelete = v)">
        <div class="d-flex align-items-center flex-column w-100">
            <p>Er du sikker på at du vil slette medarbejder?</p>
            <button class="btn card-btn w-100" style="background-color:crimson;" @onclick="ConfirmDelete">Bekræft</button>
        </div>
    </BookingNotification>
}

@if (Employee == null)
{
    <div class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{

    <div class="card shadow-sm" style="background: #ffffff; padding: 1.5rem;">
        <div>
            <div class="card-header emp-header d-flex align-items-start" style="background-color:#034265;">
                <div>
                    <h4 class="fw-semibold mb-1" style="color:white;">@Employee.Name @Employee.LastName</h4>
                    <span class=" small" style="color:lightgray;">@Employee.ExperienceLevel</span>
                </div>
                <span class="badge badge-category ms-auto">
                    @Employee.Type
                </span>
            </div>
            <div class="emp-info">
                <div class="info-row">
                    <span class="info-label">Køn</span>
                    <span class="info-value">@Employee.Gender</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Telefon</span>
                    <span class="info-value">@Employee.PhoneNumber</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Email</span>
                    <span class="info-value">@Employee.Email</span>
                </div>
                <div class="info-row">
                    <span class="info-label">By</span>
                    <span class="info-value">@Employee.Address.City</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Adresse</span>
                    <span class="info-value">@Employee.Address.StreetName @Employee.Address.HouseNumber</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Postnummer</span>
                    <span class="info-value">@Employee.Address.PostalCode</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Pris-multiplikator</span>
                    <span class="info-value">@Employee.BasePriceMultiplier</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Arbejdstid</span>
                    <span class="info-value">@Employee.WorkStart til @Employee.WorkEnd</span>
                </div>
                <div class="info-row align-items-start">
                    <span class="info-label">Specialiteter</span>
                    <div class="specialties">
                        @foreach (var specialty in Employee.Specialties.Split(','))
                        {
                            <span class="badge badge-specialty">@specialty.Trim(' ')</span>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group w-100" style="height:min-content;">
            <button class="btn card-btn w-50" style="background-color:crimson" @onclick="() => ShowConfirmDelete = true">Slet Medarbejder</button>
            <button class="btn card-btn" @onclick="ShowEditWindow">Rediger</button>
        </div>
    </div>

}
