@page "/employees/edit/{id:int}"
@namespace Components.Pages.PersonPages.EmployeePages
@rendermode InteractiveServer
@using _2nd.Semester.Eksamen.Domain.Entities;
@using _2nd.Semester.Eksamen.Domain.Entities.Persons;
@using _2nd.Semester.Eksamen.Domain.Entities.Persons.Employees
@using _2nd.Semester.Eksamen.Domain.Helpers;
@using WebUIServices;

<h3>Employee Details</h3>


<EditForm Model="Input" OnValidSubmit="UpdateEmployeeAsync">
    <InputText @bind-Value="Input.FirstName" placeholder="First Name" class="form-control" />
    <InputText @bind-Value="Input.LastName" placeholder="Last Name" class="form-control mt-2" />
    <InputText @bind-Value="Input.Email" placeholder="Email" class="form-control mt-2" />
    <InputText @bind-Value="Input.PhoneNumber" placeholder="Phone Number" class="form-control mt-2" />
    <InputNumber @bind-Value="Input.BasePriceMultiplier" placeholder="Base Price Multiplier" class="form-control mt-2" />
    @for (int i = 0; i < Input.Specialties.Count; i++)
    {
        var specialty = Input.Specialties[i];
        <div class="mb-2 d-flex align-items-center" @key="specialty.Id">
            <InputText @bind-Value="specialty.Value" placeholder="Specialty" class="form-control me-2" />
            <button type="button" class="btn btn-danger" @onclick="() => RemoveSpecialty(specialty.Id)">X</button>
        </div>
    }

    <button type="button" class="btn btn-primary mb-3" @onclick="AddSpecialty">+ Add Specialty</button>


    <select @bind="Input.Gender">
        @foreach (var gender in Enum.GetValues(typeof(Gender)).Cast<Gender>())
        {
            <!--Shows enum description-->
            <option value="@gender">@gender.GetDescription()</option>
        }
    </select>

    <select @bind="Input.ExperienceLevel">
        @foreach (var level in Enum.GetValues(typeof(ExperienceLevels)).Cast<ExperienceLevels>())
        {
            <option value="@level">@level.GetDescription()</option>
        }
    </select>

    <select @bind="Input.Type">
        @foreach (var type in Enum.GetValues(typeof(EmployeeType)).Cast<EmployeeType>())
        {
            <option value="@type">@type.GetDescription()</option>
        }
    </select>

    <!-- Address fields -->
    <InputText @bind-Value="Input.Address.StreetName" placeholder="Street" />
    <InputText @bind-Value="Input.Address.HouseNumber" placeholder="House #" />
    <InputText @bind-Value="Input.Address.City" placeholder="City" />
    <InputText @bind-Value="Input.Address.PostalCode" placeholder="Postal Code" />

    <button class="btn btn-primary mt-3" type="submit">Update</button>
</EditForm>

