@page "/BookingForm"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using _2nd.Semester.Eksamen.WebUi.Components.Pages
@using _2nd.Semester.Eksamen.WebUi.Components.Shared

<div class="page-header">
    <span class="title">Kunde Navn</span>
</div>
<EditForm EditContext="@EditContext" class="row p-3" style="margin-left: 20%; margin-right: 20%;"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    @foreach (var treatmentBooking in Booking.TreatmentBookingDTOs)
    {
        <TreatmentEditor TreatmentBooking="treatmentBooking"
                         OnRemove="RemoveTreatment"
                         PossibleEmployees="AllEmployees"
                         PossibleTreatments="AllTreatments">
        </TreatmentEditor>
    }
    <button class="add-treatment" title="Tilføj Behandling" @onclick="AddTreatment">+</button>

    <div class="page-header">
        <span class="title">Mulige Tider</span>
    </div>

    <div class="btn-group">
        <button type="reset" class="btn btn-primary mt-3" title="Anuller Booking">Slet</button>
        <button type="submit" class="btn btn-primary mt-3" title="Lav Booking">Gem</button>
    </div>
</EditForm>
@foreach (var treatmentBooking in Booking.TreatmentBookingDTOs)
{
    <span>@treatmentBooking.Treatment.Name</span>
    <span> @treatmentBooking.Price</span>
}


