@page "/BookingForm"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using _2nd.Semester.Eksamen.WebUi.Components.Pages
@using _2nd.Semester.Eksamen.WebUi.Components.Shared

<h3>Opret Booking</h3>
<h1 class="mb-3 mt-3">Behandling</h1>

<EditForm EditContext="@EditContext" class="row p-3"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    @foreach (var treatmentBooking in Booking.TreatmentBookingDTOs)
    {
        <TreatmentEditor TreatmentBooking="treatmentBooking"
                         OnRemove="RemoveTreatment"
                         PossibleEmployees="AllEmployees"
                         PossibleTreatments="AllTreatments">
        </TreatmentEditor>
    }
    <button type="button" class="btn btn-secondary mt-3" @onclick="AddTreatment">+</button>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>
@foreach (var treatmentBooking in Booking.TreatmentBookingDTOs)
{
    @treatmentBooking.Treatment.Name
    @treatmentBooking.Price
}


