@using _2nd.Semester.Eksamen.Application.Services.ProductServices
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.CustomersDTO;
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.CustomerPages.CreateCustomer
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO;
@using _2nd.Semester.Eksamen.Domain.Entities.Persons.Employees;
@using Microsoft.AspNetCore.Components;
@using System.Net.NetworkInformation;
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO.BookingDTO;
@using _2nd.Semester.Eksamen.Domain.DomainInterfaces.BookingInterfaces;
@using _2nd.Semester.Eksamen.Domain.RepositoryInterfaces.ProductInterfaces;
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.TreatmentPages;
@using _2nd.Semester.Eksamen.Domain.Entities.History;
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.EmployeeDTO;
@using _2nd.Semester.Eksamen.Application.DTO
@using _2nd.Semester.Eksamen.Application
@inject IDiscountService discountService
@rendermode InteractiveServer

@if (Discount == null && DiscountSnapshot == null)
{
    <p>Loading...</p>
}
else   
{
    @if (IsSnapshot)
    {   
            <div class="discount-details-card shadow-sm" style="background: #ffffff; padding: 1.5rem;">
            <div class="discount-card-header d-flex flex-row mb-2">
                <div>
                    <h3>@Discount.Name</h3>
                    <span class="small status @(Discount.IsActive ? "active" : "inactive")">
                        @(Discount.IsActive ? "Aktiv" : "Inaktiv")
                    </span>
                </div>
                <div class="ms-auto">
                    <span class="badge @(Discount.Type == "Kampagne Rabat" ? "campaign" : "loyalty")" style="font-size: .8rem;">
                        @Discount.Type
                    </span>
                </div>
            </div>
            <div class="discount-info">
                @if (Discount.Type != "Kampagne Rabat")
                {
                    <div class="info-row">
                        <span class="info-label">Loyalitetstype</span>
                        <span class="info-value"><b>@Discount.LoyaltyDiscountType</b></span>
                    </div>
                }
                @if (Discount.Type == "Kampagne Rabat")
                {
                    <div class="d-flex flex-column align-items-center">
                        <span class="badge bg-dark bg-opacity-50 " style="font-size: .8rem">
                            @TimeString
                        </span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">Start</span>
                        <span class="info-value"><b>@Discount.Start.ToShortDateString()</b></span>
                    </div>
                    <div class="info-row">
                        <span class="info-label">Slut</span>
                        <span class="info-value"><b>@Discount.End.ToShortDateString()</b></span>
                    </div>
                }

                @if (Discount.MinimumVisits > 0)
                {
                    <div class="info-row">
                        <span class="info-label">Minimum besøg</span>
                        <span class="info-value"><b>@Discount.MinimumVisits</b></span>
                    </div>
                }
                <div class="info-row">
                    <span class="info-label">Antal anvendelser</span>
                    <span class="info-value"><b>@History.Count()</b></span>
                </div>
                @if (Discount.TreatmentDiscount > 0)
                {
                    <div class="info-row">
                        <span class="info-label @(Discount.IsActiveForTreatments ? "active" : "")">Behandling</span>
                        <span class="info-value"><b>@((Discount.TreatmentDiscount).ToString("0"))%</b></span>
                    </div>
                }

                @if (Discount.ProductDiscount > 0)
                {
                    <div class="info-row">
                        <span class="info-label @(Discount.IsActiveForProducts ? "active" : "")">Produkt</span>
                        <span class="info-value"><b>@((Discount.ProductDiscount).ToString("0"))%</b></span>
                    </div>
                }
                @if (Discount.Type == "Kampagne Rabat")
                {
                    <p class="discount-description">
                        @Discount.Description
                    </p>
                }
            </div>

            @if (Discount.AppliesToProducts?.Any() == true)
            {
                <div class="products">
                    <span class="info-label">Gælder for produkter</span>
                    <span class="info-value d-flex flex-column g-1 ga">
                        <div class="border rounded p-2" style="overflow-y:scroll; max-height:7.7rem">
                            <table class="table">
                                <tbody>
                                    @foreach (var product in Discount.AppliesToProducts)
                                    {
                                        <tr class="clickable" @onclick="()=>OnClickProduct.InvokeAsync(product.Guid)">
                                            <td>@product.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </span>
                </div>
                <div class="border m-2" style="max-height:6rem; overflow-y:auto; scrollbar-width:none;">
                    @if (!(History.Any()))
                    {
                        <p class="text-muted mb-0 text-center">
                            Ingen salgs historik fundet for dette produkt.
                        </p>
                    }
                    else
                    {
                        <table class="table table-sm mb-0 align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>OrderId</th>
                                    <th>Dato</th>
                                    <th>Kunde</th>
                                    <th>Pris</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var instance in History)
                                {
                                    <tr>
                                        <td class="clickable" @onclick="() => OnClickOrder.InvokeAsync(instance.Guid)">@instance.Guid</td>
                                        <td>@instance.BookingStart.ToString("D")</td>
                                        <td class="clickable" @onclick="() => OnClickCustomer.InvokeAsync((Guid)instance.CustomerGuid)">@instance.CustomerName</td>
                                        <td>@instance.TotalPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }

            <div class="footer">
                <div class="btn-group w-100">
                    <button class="btn card-btn" style="color:white; background-color:crimson" @onclick="() => OnDelete.InvokeAsync(Context)">
                        Selt
                    </button>
                    <button class="btn card-btn" @onclick="() => OnEdit.InvokeAsync(Context)">
                        Rediger
                    </button>
                </div>
            </div>
        </div>
    }
    else
    {

        <div class="discount-details-card shadow-sm" style="background: #ffffff; padding: 1.5rem;">
            <div class="discount-card-header d-flex flex-row mb-2">
                <div>
                    <h3>@DiscountSnapshot.Name</h3>
                    <span class="small status inactive">
                        Inaktiv
                    </span>
                </div>
                <div class="ms-auto">
                    <span class="badge" style="font-size: .8rem;">
                        N/A
                    </span>
                </div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <span class="badge bg-dark bg-opacity-50 " style="font-size: .8rem">
                   Sidst brugt @(SnapTimeString == "" ? "N/A": SnapTimeString)
                </span>
            </div>
            <div class="discount-info">
                <div class="info-row">
                    <span class="info-label">Antal anvendelser</span>
                    <span class="info-value"><b>@History.Count()</b></span>
                </div>
                @if (DiscountSnapshot.TreatmentDiscount > 0)
                {
                    <div class="info-row">
                        <span class="info-label">Behandling</span>
                        <span class="info-value"><b>@((DiscountSnapshot.TreatmentDiscount).ToString("0"))%</b></span>
                    </div>
                }
                @if (DiscountSnapshot.ProductDiscount > 0)
                {
                    <div class="info-row">
                        <span class="info-label">Produkt</span>
                        <span class="info-value"><b>@((DiscountSnapshot.ProductDiscount).ToString("0"))%</b></span>
                    </div>
                }
            </div>

            @if (History.Any() == true)
            {
                <div class="products">
                    <span class="info-label">Glate for produkter</span>
                    <span class="info-value d-flex flex-column g-1 ga">
                        <div class="border rounded p-2" style="overflow-y:scroll; max-height:7.7rem">
                            <table class="table">
                                <tbody>
                                    @foreach (var product in History.SelectMany(h=>h.Products).DistinctBy(p=>p.ProductGuid))
                                    {
                                        <tr class="clickable" @onclick="() => OnClickProduct.InvokeAsync(product.ProductGuid)">
                                            <td>@product.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </span>
                </div>
            }
        </div>
        <div class="border m-2" style="max-height:6rem; overflow-y:auto; scrollbar-width:none;">
            @if (!(History.Any()))
            {
                <p class="text-muted mb-0 text-center">
                    Ingen salgs historik fundet for dette produkt.
                </p>
            }
            else
            {
                <table class="table table-sm mb-0 align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>OrderId</th>
                            <th>Dato</th>
                            <th>Kunde</th>
                            <th>Pris</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var instance in History)
                        {
                            <tr>
                                <td class="clickable" @onclick="() => OnClickOrder.InvokeAsync(instance.Guid)">@instance.Guid</td>
                                <td>@instance.BookingStart.ToString("D")</td>
                                <td class="clickable" @onclick="() => OnClickCustomer.InvokeAsync((Guid)instance.CustomerGuid)">@instance.CustomerName</td>
                                <td>@instance.TotalPrice</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
}
@code {
    private bool ShowDetails = false;
    private TimeSpan Time => DateTime.Now > Discount.Start ? DateTime.Now - Discount.Start : Discount.Start - DateTime.Now;
    private string TimeString => DateTime.Now < Discount.Start ? $"Aktiv igen om {Time.Days} Dage, {Time.Hours} Timer, og {Time.Minutes} Minutter" : $"Aktiveret for {Time.Days} Dage, {Time.Hours} Timer, og {Time.Minutes} Minutter Siden";
    private string SnapTimeString { get; set; } = "";
    private bool ShowEdit { get; set; } = false;
    private bool ShowDelete { get; set; } = false;
    [Inject] private NavigationManager Nav { get; set; } = null!;


    public string _errorMessage { get; set; } = string.Empty;
    [Inject] public IEmployeeService EmployeeService { get; set; }
    public List<OrderHistoryDTO> History { get; set; }
    private bool ShowConfirmDelete { get; set; } = false;

    [Parameter] public DiscountContext Context { get; set; }
    [Parameter] public DiscountSnapShotContext SnapshotContext { get; set; }
    private DiscountOverviewDTO Discount { get; set; }
    private DiscountOverviewDTO DiscountSnapshot { get; set; }
    [Parameter] public EventCallback<Guid> OnClickCustomer { get; set; }
    [Parameter] public EventCallback<Guid> OnClickProduct { get; set; }
    [Parameter] public EventCallback<Guid> OnClickOrder { get; set; }
    [Parameter] public EventCallback<DetailsContext> OnEdit { get; set; }
    [Parameter] public EventCallback<DetailsContext> OnDelete { get; set; }
    [Parameter] public bool IsSnapshot { get; set; } = false;
    [Inject] public IHistoryService _historyService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (IsSnapshot)
        {
            DiscountSnapshot = SnapshotContext.Discount;
            History = await _historyService.GetDiscountHistoryByGuidAsync(DiscountSnapshot.Guid);
            if(History.Any())
            {
                OrderHistoryDTO max = History.OrderBy(o => o.DateOfPayment).Max();
                if(max != null)
                {
                    var LatestDateOfUse = max.DateOfPayment.ToDateTime(TimeOnly.MinValue);
                    var SnapTime = DateTime.Now > LatestDateOfUse ? DateTime.Now - LatestDateOfUse : LatestDateOfUse - DateTime.Now;
                    SnapTimeString = DateTime.Now < LatestDateOfUse ? $"Aktiv igen om {SnapTime.Days} Dage, {SnapTime.Hours} Timer, og {SnapTime.Minutes} Minutter" : $"Aktiveret for {SnapTime.Days} Dage, {SnapTime.Hours} Timer, og {SnapTime.Minutes} Minutter Siden";
                }
            }
        }
        else
        {
            Discount = Context.Discount;
            History = await _historyService.GetDiscountHistoryByGuidAsync(Discount.Guid);
        }
    }
    private void Refresh()
    {
        Nav.Refresh(true);
    }
}
