@page "/create-company-customer"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.CustomerPages.CreateCustomer
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.CustomersDTO
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Domain.Entities.Persons
@inject ICompanyCustomerService createCustomerService
@inject NavigationManager Navi
@rendermode InteractiveServer

<div>
	<EditForm Model="@companyCustomerDTO" OnValidSubmit="@HandleValidSubmit" class="row p-3" FormName="CreateCompanyCustomerForm">
		<div>
			<h2>@(IsEdit ? "Rediger Firmakunde" : "Opret Firmakunde")</h2>
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div>
				<div class="row mb-3">
					<div class="col-md-6">
						<label for="Name" class="form-label">Navn:</label>
						<InputText id="Name" @bind-Value="companyCustomerDTO.Name" class="form-control" placeholder="Firmanavn..." />
					</div>
					<div class="col-md-6">
						<label for="CVR-Nummer" class="form-label">CVR-nummer:</label>
						<InputText id="CVR-Nummer" @bind-Value="companyCustomerDTO.CVRNumber" class="form-control" placeholder="CVR-nummer..." />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<label for="Email" class="form-label"> Email</label>
						<InputText id="Email" @bind-Value="@companyCustomerDTO.Email" class="form-control" placeholder="Email..." />
					</div>
					<div class="col-md-6">
						<label for="PhoneNumber" class="form-label">Telefonnummer</label>
						<InputText id="PhoneNumber" @bind-Value="@companyCustomerDTO.PhoneNumber" class="form-control" placeholder="Tlfnummer..." />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<label for="City" class="form-label">By:</label>
						<InputText id="City" @bind-Value="companyCustomerDTO.City" class="form-control" placeholder="By..." />
					</div>
					<div class="col-md-6">
						<label for="StreetName" class="form-label"> Vejnavn </label>
						<InputText id="StreetName" @bind-Value="@companyCustomerDTO.StreetName" class="form-control" placeholder="Vejnavn..." />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-6">
						<label for="Form-group" class="form-label">Postnummer:</label>
						<InputText id="PostalCode" @bind-Value="companyCustomerDTO.PostalCode" class="form-control" placeholder="Postnummer..." />
					</div>
					<div class="col-md-6">
						<label for="HouseNumber" class="form-label">Husnr:</label>
						<InputText id="HouseNumber" @bind-Value="companyCustomerDTO.HouseNumber" class="form-control" placeholder="Husnr..." />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12">
						<label for="Notes" class="form-label"> Noter</label>
						<InputTextArea id="Notes" @bind-Value="@companyCustomerDTO.Notes" maxlength="200" class="form-control" placeholder="Noter..." />
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-12 d-flex flex-row">
						<label for="form-check.label" class="form-labels">Gem kundeoplysninger</label>
						<InputCheckbox id="SaveAsCustomer" @bind-Value="@companyCustomerDTO.SaveAsCustomer" class="form-check-input" />
					</div>
				</div>
				<div class="row mb-3" style="padding-top: 10px;">
					<div class="col-md-12">
						<button type="submit" class="btn w-100 card-btn col-md-12">@(IsEdit ? "Gem Ændringer" : "Opret Firmakunde")</button>
					</div>
				</div>
			</div>
		</div>
	</EditForm>
</div>
@code {

	public CompanyCustomerDTO companyCustomerDTO = new();
	[Parameter] public EventCallback OnClose { get; set; }
	[Parameter] public bool IsBooking { get; set; } = false;
	[Parameter] public bool IsEdit { get; set; } = false;
	[Parameter] public CompanyCustomerDTO EditCustomer { get; set; }
	[Inject] public ICustomerUpdateService _customerService { get; set; }
	protected override async Task OnInitializedAsync()
	{
		if (IsEdit)
		{
			companyCustomerDTO = EditCustomer;
		}
	}
	private async Task HandleValidSubmit()
	{
		try
		{
			if (IsBooking)
			{
				int id = await createCustomerService.CreateCompanyCustomerAsync(companyCustomerDTO);
				Navi.NavigateTo($"/BookingForm/{id}");
				await OnClose.InvokeAsync();
			}
			else
			{
				if (IsEdit)
					await _customerService.UpdateCustomer(companyCustomerDTO);
				else 
					await createCustomerService.CreateCompanyCustomerAsync(companyCustomerDTO);
				await OnClose.InvokeAsync();
				Navi.NavigateTo($"/CustomerOverview");
			}
		}
		catch
		{

		}
	}
}

