<div class="Treatment">
    <div class="treatment-header">
        <span class="title">Treatment</span>
        <button type="button" class="close-btn" @onclick="Remove">✖</button>
    </div>
    <div class="Treatment-form">
        <div class="mb-2">
            <label>Behandlings Kategori:</label>
            @if (AnyTreatments())
            {
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                    @foreach (var category in PossibleTreatments.Select(t => t.Category).Distinct())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            }
            else
            {
                <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                </InputText>
            }
        </div>
        <div class="mb-2">
            @if (TreatmentCategorySelected())
            {
                <label>Treatment:</label>
                @if (CanSelectTreatment())
                {
                    <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.TreatmentId">
                        @foreach (var treatment in PossibleTreatments.Where(t => t.Category == TreatmentBooking.Treatment.Category))
                        {
                            <option value="@treatment.TreatmentId">@treatment.Name</option>
                        }
                    </InputSelect>
                }
                else
                {
                    <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Name">
                    </InputText>
                }
            }
        </div>
        <div class="mb-2">
            @if (TreatmentSelected() && TreatmentCategorySelected())
            {
                <label>Employee:</label>
                @if (CanSelectEmployee())
                {
                    <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Employee.EmployeeId">
                        @foreach (var Employee in PossibleEmployees.Where(e => e.Specialization == TreatmentBooking.Treatment.Category))
                        {
                            <option value="@Employee.EmployeeId">@Employee.Name</option>
                        }
                    </InputSelect>
                }
                else
                {
                    <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Employee.Name">
                    </InputText>
                }
            }
        </div>
        <div class="mb-2">
            @if (CanWritePrice())
            {
                <label>Price:</label>
                @if (CanSelectPrice())
                {
                    <InputNumber class="form-control w-75" @bind-Value="TreatmentBooking.Price">
                        <span>@TreatmentBooking.Price kr.</span>
                    </InputNumber>
                }
                else
                {
                    <InputNumber class="form-control w-75" @bind-Value="TreatmentBooking.Price">
                    </InputNumber>
                }
            }
        </div>
    </div>
</div>