@namespace _2nd.Semester.Eksamen.WebUi.Components.Shared
<div class="Treatment">
    <div class="treatment-header">
        <span>@TreatmentBooking.Treatment.Name</span>
        <div class="btn-group">
           <button type="button" class="updown-btn" title="Flyt behandling op i booking rækkefølgen" style="background-color:transparent; border: none;" @onclick="() => OnUp.InvokeAsync(Index)">▲</button>
           <button type="button" class="updown-btn" title="Flyt behandling ned i booking rækkefølgen" style="background-color:transparent; border: none;" @onclick="() => OnDown.InvokeAsync(Index)">▼</button>
           <button type="button" class="close-btn" title="Fjern behandling fra bookingen" @onclick="Remove">✖</button>
        </div>
    </div>
    <div class="Treatment-form">
        <div class="mb-2">
            @if (!PossibleTreatments.Any())
            {
                <span>Det ser ud til at ingen Behandlinger er registret: </span> <button type="button">Registrer ny behandling</button>
            }
            else
            {
                <label>Behandlings Kategori:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category" @bind-Value:after="OnCategoryChanged">
                        <option value="">-- Vælg Behandlings Kategori --</option>   
                    @foreach (string category in PossibleTreatments.Select(t => t.Category).Distinct())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            }
        </div>
        <div class="mb-2">
            @if (!PossibleTreatments.Any())
            {
                <div style="display: flex; flex-direction: row;">
                    <span>Det ser ud til at ingen Behandlinger er registret:</span>
                    <button type="button">Registrer ny behandling</button>
                </div>
            }
            else
            {
                <label>Behandling:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.TreatmentId" @bind-Value:after="OnTreatmentChanged">
                        <option value=0>-- Vælg Behandling --</option>   
                    @foreach (var treatment in ( !IsEdit ? SelectableTreatments : PossibleTreatments.Where(s => s.Category == TreatmentBooking.Treatment.Category).ToList()))
                    {
                        <option value="@treatment.TreatmentId">@treatment.Name</option>
                    }
                </InputSelect>
            }
        </div>
        <div class="mb-2">
            @if (!PossibleEmployees.Any())
            {
                 <span>Det ser ud til at ingen Medarbejdere er registret:</span> <button type="button">Registrer ny Medarbejder</button>
            }
            else
            {
                <label>Medarbejder:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Employee.EmployeeId" @bind-Value:after="OnEmployeeChanged">
                        <option value="0">-- Vælg Medarbejder --</option>   
                    @foreach (var Employee in (!IsEdit ? SelectableEmployees : PossibleEmployees.Where(e => TreatmentBooking.Treatment.RequiredSpecialties.All(tr => e.Specialties.Contains(tr))).ToList()))
                    {
                        <option value="@Employee.EmployeeId">@Employee.Name</option>
                    }
                </InputSelect>
            }
        </div>
        <div class="mb-2">
            <label>Price:</label>
            <InputNumber class="form-control w-75" @bind-Value="TreatmentBooking.Price" @onchange="Change">
            </InputNumber>
        </div>
    </div>
</div>