<div class="Treatment">
    <div class="treatment-header">
        <span class="title">Treatment</span>
        <button type="button" class="close-btn" @onclick="Remove">✖</button>
    </div>
    <div class="Treatment-form">
        <div class="mb-2">
            @if (AnyTreatments())
            {
                <label>Behandlings Kategori:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                    @foreach (var category in PossibleTreatments.Select(t => t.Category).Distinct())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            }
            else
            {
                <span>Det ser ud til at ingen Behandlinger er registret:</span> <button type="button">Registrer ny behandling</button>
@*                 <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                </InputText> *@
            }
        </div>
        <div class="mb-2">
            @if (CanSelectTreatment())
            {
                <label>Treatment:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.TreatmentId" disabled="@(!TreatmentCategorySelected())">
                    @foreach (var treatment in PossibleTreatments.Where(t => t.Category == TreatmentBooking.Treatment.Category))
                    {
                        <option value="@treatment.TreatmentId">@treatment.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <div style="display: flex; flex-direction: row;">
                <span>Det ser ud til at ingen Behandlinger er registret:</span>
                <button type="button">Registrer ny behandling</button>
                </div>
            }
        </div>
        <div class="mb-2">
            @if (CanSelectEmployee())
            {
                <label>Employee:</label>
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Employee.EmployeeId" dafault="disabled="@(!(TreatmentSelected() && TreatmentCategorySelected()))">
                    @foreach (var Employee in PossibleEmployees.Where(e => TreatmentBooking.Treatment.RequiredSpecialties.All(tr=>e.Specialties.Contains(tr))))
                    {
                        <option value="@Employee.EmployeeId">@Employee.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <span>Det ser ud til at ingen Medarbejdere er registret:</span> <button type="button">Registrer ny Medarbejder</button>
@*                 <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Employee.Name" disabled="@(!(TreatmentSelected() && TreatmentCategorySelected()))">
                </InputText> *@
            }
        </div>
        <div class="mb-2">
            <label>Price:</label>
            <InputNumber class="form-control w-75" @bind-Value="TreatmentBooking.Price" disabled="@(!CanWritePrice())">
            </InputNumber>
        </div>
    </div>
</div>