<div class="Treatment">
    <div class="treatment-header">
        <span class="title">Treatment</span>
        <button type="button" class="close-btn" @onclick="Remove">✖</button>
    </div>
    <div class="Treatment-form">
        <div class="mb-2">
            <label>Behandlings Kategori:</label>
            @if (AnyTreatments())
            {
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                    @foreach (var category in PossibleTreatments.Select(t => t.Category).Distinct())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            }
            else
            {
                <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Category">
                </InputText>
            }
        </div>
        <div class="mb-2">
            <label>Treatment:</label>
            @if (CanSelectTreatment())
            {
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.TreatmentId" disabled="@(!TreatmentCategorySelected())">
                    @foreach (var treatment in PossibleTreatments.Where(t => t.Category == TreatmentBooking.Treatment.Category))
                    {
                        <option value="@treatment.TreatmentId">@treatment.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Treatment.Name" disabled="@(!TreatmentCategorySelected())">
                </InputText>
            }
        </div>
        <div class="mb-2">
            <label>Employee:</label>
            @if (CanSelectEmployee())
            {
                <InputSelect class="form-control w-75" @bind-Value="TreatmentBooking.Employee.EmployeeId" dafault="disabled="@(!(TreatmentSelected() && TreatmentCategorySelected()))">
                    @foreach (var Employee in PossibleEmployees.Where(e => e.Specialization == TreatmentBooking.Treatment.Category))
                    {
                        <option value="@Employee.EmployeeId">@Employee.Name</option>
                    }
                </InputSelect>
            }
            else
            {
                <InputText class="form-control w-75" @bind-Value="TreatmentBooking.Employee.Name" disabled="@(!(TreatmentSelected() && TreatmentCategorySelected()))">
                </InputText>
            }
        </div>
        <div class="mb-2">
            <label>Price:</label>
            <InputNumber class="form-control w-75" @bind-Value="TreatmentBooking.Price" disabled="@(!CanWritePrice())">
            </InputNumber>
        </div>
        <p>Price: @TreatmentBooking.Price</p>
        <p>Treatment: @TreatmentBooking.Treatment.Name</p>
        <p>Category: @TreatmentBooking.Treatment.Category</p>
        <p>End: @TreatmentBooking.End</p>
        <p>Start: @TreatmentBooking.Start</p>
        <p>Employee: @TreatmentBooking.Employee.Name</p>
    </div>
</div>