@page "/create-product"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages
@using _2nd.Semester.Eksamen.Domain.Entities.Products
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@inject IProductApplicationService productService
@inject NavigationManager Navi
@rendermode InteractiveServer

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="alert alert-danger">
        @_errorMessage
    </div>
}
<FloatingPage>
    <div style="margin: 30px;">
        <EditForm Model="@productDTO" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <h2 class="text-center mb-4">@(IsEdit ? "Rediger Produkt" : "Opret Produkt")</h2>

            <div class="mb-3">
                <label class="form-label">Navn:</label>
                <InputText @bind-Value="productDTO.Name" class="form-control" placeholder="Produktnavn..." />
            </div>

            <div class="mb-3">
                <label class="form-label">Pris:</label>
                <InputNumber @bind-Value="productDTO.Price" class="form-control" placeholder="Pris..." />
            </div>

            <div class="mb-3">
                <label class="form-label">Beskrivelse:</label>
                <InputTextArea @bind-Value="productDTO.Description" class="form-control" placeholder="Beskrivelse..." maxlength="500" />
            </div>

            <div class="mb-3">
                <label class="form-label">Kategori:</label>
                <div class="w-100 h-100">
                    <select id="discountType" class="w-100 h-100 mb-3" name="discountType" @bind="productDTO.Category" @bind:event="oninput">
                    <option value="_">Vælg Kategori</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category">@category</option>
                    }
                    <option value="">Ny Kategori</option>
                </select>
                </div>
                @if (productDTO.Category == "")
                {
                    <InputText @bind-Value="productDTO.Category"
                               class="form-control"
                               placeholder="Kategori..." />
                }
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn card-btn w-75">@(IsEdit ? "Gem Ændringer" : "Opret Produkt")</button>
            </div>
        </EditForm>
    </div>
</FloatingPage>
@code {
    private NewProductDTO productDTO { get; set; } = new();
    [Parameter] public ProductOverviewDTO EditProduct { get; set; }
    [Inject] public IProductOverviewService overviewService { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public bool IsEdit { get; set; } = false;
    private string _errorMessage = "";
    private List<string> Categories { get; set; } = new();
    private string SelectedCategory { get; set; } = "";
    protected override async Task OnInitializedAsync()
    {
        Categories = await overviewService.GetAllCategoriesAsync();
        productDTO.Category = "_";
        if (IsEdit)
        {
            productDTO = new NewProductDTO()
                {
                    Id = EditProduct.Id,
                    Description = EditProduct.Description,
                    Category = EditProduct.Category,
                    Price = EditProduct.Price,
                    Name = EditProduct.Name
                };
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            if(IsEdit)
            {
                await productService.UpdateProductAsync(productDTO);
            }
            else
            {
                await productService.CreateNewProductAsync(productDTO);
            }
            await OnClose.InvokeAsync();
        }
        catch (Exception)
        {
            _errorMessage = (IsEdit ? "Noget gik galt dit produkt blev ikke redigeret" : "Noget gik galt dit produkt blev ikke lavt");
        }
    }

}