
@page "/TreatmentOverview"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.TreatmentPages
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@rendermode InteractiveServer



<div style="background-color:#F3F2F2; height:100vh">
    <div class="overview-page">
        <div class="shadow-sm" style="background-color:#F3F2F2;">
            <div class="page-header">
                <div>
                    <h1>Behandlinger</h1>
                    <p class="subtitle">Oversigt over alle behandlinger</p>
                </div>
                <div class="btn-group ms-auto" style="width:20%; gap:1rem;">
                    <div class="input-group" style="padding-right:1rem;">
                        <input type="text" placeholder="Søg Behandlings Navn..." @bind="SearchTermName" @bind:event="oninput"></input>
                    </div>
                </div>
                <button class="btn btn-primary" @onclick="() => CreateTreatment = true">
                    <i class="bi bi-plus-lg"></i> Tilføj Behandling
                </button>
            </div>
            <div class="overview-page-content">
                <div class="stats-grid">
                    <div class="stat-card">
                        <h3>Total</h3>
                        <span>@Treatments.Count</span>
                    </div>
                    <div class="stat-card">
                        <h3>Udførte Behandlinger</h3>
                        <span>0</span>
                    </div>
                    <div class="stat-card">
                        <h3>Pending</h3>
                        <span>0</span>
                    </div>
                </div>

                <div style="margin:30px;">
                    @if (Treatments == null)
                    {
                        <p>Indlæser behandlinger...</p>
                    }
                    else if (!Treatments.Any())
                    {
                        <p>Ingen behandlinger fundet.</p>
                    }
                    else
                    {
                        <div class="dTO-grid">
                            @foreach (var treatment in FilterdTreatments)
                            {
                                <div class="treatment-card">
                                    <div class="treatment-card-header">

                                        <div class="treatment-card-body">
                                            <p>Navn: @treatment.Name</p>
                                            <p>Pris: @treatment.BasePrice</p>
                                        </div>

                                        <div class="treatment-card-footer">
                                            <button class="btn btn-primary"@onclick="() => ShowOverlay(treatment)">
                                                Se detaljer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

    @if (isVisible == true)
    {
    <BookingNotification IsVisible=isVisible IsVisibleChanged="@(v => isVisible = v)">
            <h2> @selectedTreatment.Name</h2>
            <p><b>Pris:</b> @selectedTreatment.BasePrice</p>
            <p><b>Varighed:</b> @selectedTreatment.Duration</p>
            <p><b>Kategori:</b> @selectedTreatment.Category</p>

            <p><b>Påkrævede specialiteter:</b></p>
            <ul>
                @if (selectedTreatment.RequiredSpecialties != null)
                {
                    @foreach (var s in selectedTreatment.RequiredSpecialties)
                    {
                        <li>@s.Replace(",", "")</li>
                    }
                }
            </ul>
            <p><b>Beskrivelse:</b> @selectedTreatment.Description</p>

            <button class="btn btn-outline-primary mt-3" @onclick="HideOverlay">Luk</button>
            <button class="btn btn-danger mt-3" @onclick="() => DeleteTreatment(selectedTreatment.TreatmentId)">Slet behandling</button>
        </BookingNotification>
    }

    @if(CreateTreatment)
{
    <CreateWindow StyleParameters="background-color: #F3F2F2; padding:0;width:auto;" IsVisible=CreateTreatment IsVisibleChanged="@(v => CreateTreatment = v)">
        <CreateTreatment></CreateTreatment>
    </CreateWindow>
}







@code {
	


}
