@page "/CustomerOverview"
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.CustomersDTO;
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.CustomerPages.CreateCustomer
@rendermode InteractiveServer
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.PersonPages.CustomerPages


<div style="background-color:#F3F2F2; height:100vh">
    <div class="overview-page">
        <div class="shadow-sm" style="background-color:#F3F2F2;">
            <div class="page-header">
                <div>
                    <h1>Kunder</h1>
                    <p class="subtitle">Oversigt over alle Kunder</p>
                </div>
                <div class="btn-group ms-auto" style="width:50%; gap:1rem;">
                    <div class="input-group">
                        <div class="input-group">
                            <input type="text"
                                   placeholder="Søg Navn..."
                                   @bind="SearchTermName"
                                   @bind:event="oninput" />
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text"
                               placeholder="Søg Tlf. Nummer..."
                               @bind="SearchTermPhone"
                               @bind:event="oninput" />
                    </div>
                    <button class="add-employee-btn" @onclick="() => CreateCustomer = true">
                        <i class="bi bi-plus-lg"></i> Tilføj Kunde
                    </button>
                </div>
            </div>
            <div class="overview-page-content">
                <div class="stats-grid">
                    <div class="stat-card">
                        <h3>Kunder</h3>
                        <span>@Customers.Count</span>
                    </div>
                    <div class="stat-card">
                        <h3>Firma Kunder</h3>
                        <span>@CompanyCount</span>
                    </div>
                    <div class="stat-card">
                        <h3>Privat Kunder</h3>
                        <span>@PrivateCount</span>
                    </div>
                </div>
                <div style="margin:30px;">
                    @if (LoadFailed)
                    {
                        <div class="alert alert-danger">
                            Kunne ikke forbinde til databasen. Prøv igen senere
                        </div>
                    }
                    else if (Customers == null)
                    {
                        <div>Loader...</div>
                    }
                    else
                    {
                        <div class="grid">
                            @foreach (var Customer in FilterdCustomers)
                            {
                                <div class="customer-card">
                                    <div class="customer-card-header">
                                        @if (Customer is PrivateCustomerDTO pr)
                                        {
                                            <h3> @pr.Name @pr.LastName </h3>
                                            <span class="badge ms-auto" style="background: #e0f2ff;  color: #0369a1;">Privat Kunde</span>
                                        }
                                        else
                                        {
                                            <h3>@Customer.Name</h3>
                                            <span class="badge ms-auto" style="background: #ecfdf5;  color: #065f46;">Firma Kunde</span>
                                        }
                                    </div>
                                    <div class="customer-card-body">
                                        <div class="info-row">
                                            <span class="info-label">Email</span>
                                            <span class="info-value">@Customer.Email</span>
                                        </div>
                                        <div class="info-row">
                                            <span class="info-label">Telefon</span>
                                            <span class="info-value">@Customer.PhoneNumber</span>
                                        </div>
                                        <div class="info-row">
                                            <span class="info-label">By</span>
                                            <span class="info-value">@Customer.City</span>
                                        </div>
                                    </div>

                                    <div class="customer-card-footer">
                                        <button class="btn btn-primary"
                                                @onclick="() => ShowOverlay(Customer)">
                                            Se detaljer
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@if (CreateCustomer)
{
    <CreateWindow IsVisible=CreateCustomer IsVisibleChanged="v => CreateCustomer = v" StyleParameters="background-color: #F3F2F2; padding:0;width:auto;">
        <CreateCustomer></CreateCustomer>
    </CreateWindow>
}

@if (isVisible == true)
{
    <CreateWindow IsVisible=isVisible IsVisibleChanged="@(v => isVisible = v)" StyleParameters="background-color: #F3F2F2; padding:0;width:28%; height:auto;">
        @if (selectedCustomer != null)
        {
            <div class="card shadow-sm" style="background: #ffffff; padding: 1.5rem;">
                @if (selectedCustomer is PrivateCustomerDTO p)
                {
                    <div>
                        <div class="card-header customer-header d-flex align-items-start" style="background-color:#034265;">
                            <div>
                                <h4 class="fw-semibold mb-1" style="color:white;">@p.Name @p.LastName</h4>
                                <span class="small" style="color:lightgray;">Kunde</span>
                            </div>
                            <span class="badge badge-category ms-auto">
                                Privatkunde
                            </span>
                        </div>
                        <div class="customer-info">
                            <div class="info-row">
                                <span class="info-label">Køn</span>
                                <span class="info-value">@p.Gender</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Antal Besøg</span>
                                <span class="info-value">@p.NumberOfVisits</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Telefon</span>
                                <span class="info-value">@p.PhoneNumber</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Email</span>
                                <span class="info-value">@p.Email</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">By</span>
                                <span class="info-value">@p.City</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Adresse</span>
                                <span class="info-value">@p.StreetName @p.HouseNumber</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Postnummer</span>
                                <span class="info-value">@p.PostalCode</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Fødselsdato</span>
                                <span class="info-value">@p.BirthdayWrapper.ToShortDateString()</span>
                            </div>
                            <div>
                                <p class="customer-description">
                                    @p.Notes
                                </p>
                            </div>
                        </div>
                    </div>
                }
                else if (selectedCustomer is CompanyCustomerDTO c)
                {
                    <div>
                        <div class="customer-header d-flex align-items-start" style="background-color:#034265;">
                            <div>
                                <h4 class="fw-semibold mb-1" style="color:white;">@c.Name</h4>
                                <span class=" small" style="color:lightgray;">Kunde</span>
                                <span class="badge badge-category ms-auto">
                                    Firmakunde
                                </span>
                            </div>
                        </div>
                        <div class="customer-info">
                            <div class="info-row">
                                <span class="info-label">Antal Besøg</span>
                                <span class="info-value">@c.NumberOfVisits</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Telefon</span>
                                <span class="info-value">@c.PhoneNumber</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Email</span>
                                <span class="info-value">@c.Email</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">By</span>
                                <span class="info-value">@c.City</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Adresse</span>
                                <span class="info-value">@c.StreetName @c.HouseNumber</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Postnummer</span>
                                <span class="info-value">@c.PostalCode</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">CVR-Nummer</span>
                                <span class="info-value">@c.CVRNumber</span>
                            </div>
                            <p class="customer-description">
                                @c.Notes
                            </p>
                        </div>
                    </div>
                }
                    <div class="btn-group w-100">
                        <button class="btn card-btn w-50" style="background-color:crimson;" @onclick="() => DeleteCustomer(selectedCustomer.id)">Slet kunde</button>
                        <button class="btn card-btn" @onclick="() => EditCustomer = true">Rediger</button>
                    </div>
            </div>
        }
    </CreateWindow>
}

@if (EditCustomer)
{
    <CreateWindow IsVisible=EditCustomer IsVisibleChanged="v => EditCustomer = v" StyleParameters="background-color: #F3F2F2; padding:0;width:30%; height:auto; overflow-y:visible">
        @if (selectedCustomer is CompanyCustomerDTO cc)
        {
            <CreateCompanyCustomer OnClose="Refresh" IsEdit=true EditCustomer="cc"></CreateCompanyCustomer>
        }
        else if (selectedCustomer is PrivateCustomerDTO pc)
        {
            <CreatePrivateCustomer OnClose="Refresh" EditCustomer="pc" IsEdit=true></CreatePrivateCustomer>
        }
    </CreateWindow>
}


