@page "/BookingOverview/"
@namespace _2nd.Semester.Eksamen.WebUi.Components.Pages.ProductPages.BookingPages
@rendermode InteractiveServer
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces;
@using _2nd.Semester.Eksamen.Domain
@using _2nd.Semester.Eksamen.Domain.Entities.Products
@using _2nd.Semester.Eksamen.Domain.Entities.History
@using _2nd.Semester.Eksamen.Domain.Entities.Products.BookingProducts
@using _2nd.Semester.Eksamen.Domain.Entities.Persons.Customer
@using _2nd.Semester.Eksamen.Domain.Entities.Products.BookingProducts.TreatmentProducts
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PaymentPages
@using Components.Pages.ProductPages.BookingPages
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO.BookingDTO
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.CustomersDTO
@inject IBookingService bookingService



<div style="background-color:#F3F2F2; height:100vh">
    <div class="overview-page">
        <div class="shadow-sm" style="background-color:#F3F2F2;">
            <div class="page-header">
                <div>
                    <h1>Bookinger</h1>
                    <p class="subtitle">Oversigt over alle bookinger</p>
                </div>
                <div class="equal-row ms-auto">
                    <div class="input-group">
                        <input type="text" class="search-box" placeholder="Søg Kunde..." @bind="SearchTermCustomer" @bind:event="oninput" />
                    </div>
                    <div class="input-group">
                        <input type="date" class="search-box" title="Fra..." placeholder="Dato fra..." @bind="SearchTermDateStart" @bind:event="oninput" />
                    </div>
                    <div class="input-group">
                        <input type="date" class="search-box" title="Til..." placeholder="Dato til..." @bind="SearchTermDateEnd" @bind:event="oninput" />
                    </div>
                </div>
            </div>
            <div class="overview-page-content">
                <div class="stats-grid">
                    <div class="stat-card">
                        <h3>Total</h3>
                        <span>@bookingList.Count</span>
                    </div>
                    <div class="stat-card">
                        <h3>Idag</h3>
                        <span>@TodayCount</span>
                    </div>
                    <div class="stat-card">
                        <h3>Pending</h3>
                        <span>@PendingCount</span>
                    </div>
                </div>

                <div style="margin:30px;">
                    @if (LoadFailed)
                    {
                        <div class="alert alert-danger">
                            Kunne ikke hente bookinger. Prøv igen senere.
                        </div>
                    }
                    else if (bookingList == null)
                    {
                        <div>Loader...</div>
                    }
                    else
                    {
                        <div class="grid">
                            @foreach (var booking in FilteredBookings)
                            {
                                <div class="grid-item  shadow-sm" style="display: flex; flex-direction: column;">
                                    <div class="info">
                                        <div style="display:flex; margin-bottom:20px;">
                                            <h4 style="color: #034265;">@(booking.Customer is PrivateCustomerDTO pc ? $"{booking.Customer.Name} {pc.LastName}" : booking.Customer.Name)</h4>
                                            @if (booking.Status.ToString() == "Pending")
                                            {
                                                <span class="badge ms-auto" style="background: #e0f2ff;  color: #0369a1;">@booking.Status</span>
                                            }
                                            else
                                            {
                                                <span class="badge ms-auto" style="background: #ecfdf5;  color: #065f46;">@booking.Status</span>
                                            }
                                        </div>
                                        <strong><p>@booking.Start.ToString("ddd/d/MMM")</p></strong>
                                        <strong><p>@booking.Start.ToString("t") til @booking.End.ToString("t")</p></strong>
                                    </div>
                                    <div class="card-footer bg-transparent border-0">
                                        <button class="btn card-btn" @onclick="() => ShowOverlay(booking)">Se detaljer</button>
                                    </div>
                                </div>
                            }
                            @foreach (var booking in FilterdCompletedBookings)
                            {
                                <div class="grid-item  shadow-sm" style="display: flex; flex-direction: column;">
                                    <div class="info">
                                        <div style="display:flex; margin-bottom:20px;">
                                            <h4 style="color: #034265;">@booking.CustomerSnapshot.Name</h4>
                                            <span class="badge ms-auto" style="background: #e0f2ff;  color: #0369a1;">Completed</span>
                                        </div>
                                        <strong><p>@booking.OrderSnapshot.DateOfPayment.ToString("ddd/d/MMM")</p></strong>
                                    </div>
                                    <div class="card-footer bg-transparent border-0" style="margin-top:auto;">
                                        <button class="btn card-btn" @onclick="() => ShowOverlayCompleted(booking)">Se detaljer</button>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (ShowDetails)
    {
        <SidePage IsVisible="ShowDetails" IsVisibleChanged="@(v => ShowDetails = v)">
            <BookingDetails OnClose="() => ShowDetails = false" OnDelete="DeleteBookingWarning" OnEdit="() => OpenEdit = true" OnPay="() => ShowPaymentWindow = true" SelectedBooking="SelectedBooking" ShowBookingDetails="ShowBookingDetails" ShowCompletedDetails="ShowCompletedDetails" SelectedCompletedBooking="SelectedCompletedBooking"> </BookingDetails>
        </SidePage>
    }
</div>
<div style="z-index: 9999;">

    @if (toggleBookingWarning)
    {
        <BookingNotification IsVisible="toggleBookingWarning" IsVisibleChanged="@(v => toggleBookingWarning = v)">
            <div class="mt-2">
                <p>Er du sikker på du vil slette bookingen?</p>
                <div class="d-flex gap-2">
                    <button class="btn btn-secondary" @onclick="() => toggleBookingWarning = false">Annuller</button>
                    <button class="btn btn-danger" @onclick="ConfirmDeleteBooking">Slet booking</button>
                </div>
            </div>
        </BookingNotification>
    }

    @if (ShowPaymentWindow)
    {
        <SidePage IsVisible="ShowPaymentWindow"
                  IsVisibleChanged="@(v => ShowPaymentWindow = v)">
            <div style="width:30vw;z-index: 9999;"></div>
            <FinalizePayment id="@SelectedBooking.CustomerId" Booking="SelectedBooking"></FinalizePayment>
        </SidePage>
    }

    @if (OpenEdit)
    {
        <SidePage IsVisible="OpenEdit"
                  IsVisibleChanged="@(v => OpenEdit = v)">
            <div style="width:30vw;z-index: 9999;"></div>
            <BookingForm OnClose="Refresh" CustomerId="@SelectedBooking.CustomerId" EditBooking="SelectedBooking" IsEdit="true"></BookingForm>
        </SidePage>
    }
</div>









@code {
    [Inject] NavigationManager Navi { get; set; }
    [Inject] IBookingOverviewService _bookingOverviewService { get; set; }

    private List<BookingDTO> bookingList = new();
    private List<BookingSnapshot> CompletedBookings { get; set; } = new();

    private BookingDTO SelectedBooking { get; set; } = new();
    private BookingSnapshot SelectedCompletedBooking { get; set; }

    private bool toggleBookingWarning = false;
    private bool LoadFailed = false;
    private bool OpenEdit = false;
    private bool ShowDetails = false;
    private bool ShowBookingDetails = false;
    private bool ShowCompletedDetails = false;
    private bool ShowPaymentWindow = false;

    private DateTime CurrentTime => DateTime.Now;

    private string SearchTermCustomer = "";
    private DateTime? SearchTermDateStart;
    private DateTime? SearchTermDateEnd;

    private IEnumerable<BookingDTO> FilteredBookings =>
        bookingList
            .Where(b =>
                string.IsNullOrWhiteSpace(SearchTermCustomer) ||
                b.Customer.Name.Contains(SearchTermCustomer, StringComparison.OrdinalIgnoreCase))
            .Where(b =>
                (!SearchTermDateStart.HasValue || b.Start.Date >= SearchTermDateStart.Value.Date) &&
                (!SearchTermDateEnd.HasValue || b.Start.Date <= SearchTermDateEnd.Value.Date));

    private IEnumerable<BookingSnapshot> FilterdCompletedBookings =>
        CompletedBookings
            .Where(b =>
                string.IsNullOrWhiteSpace(SearchTermCustomer) ||
                b.CustomerSnapshot.Name.Contains(SearchTermCustomer, StringComparison.OrdinalIgnoreCase))
            .Where(b =>
                (!SearchTermDateStart.HasValue || b.OrderSnapshot.DateOfPayment >= DateOnly.FromDateTime(SearchTermDateStart.Value)) &&
                (!SearchTermDateEnd.HasValue || b.OrderSnapshot.DateOfPayment <= DateOnly.FromDateTime(SearchTermDateEnd.Value)));

    private int TodayCount =>
        bookingList.Count(b => b.Start.Date == CurrentTime.Date);

    private int PendingCount =>
        bookingList.Count(b => b.Status == BookingStatus.Pending);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            bookingList = await _bookingOverviewService.GetAllBookingsAsync();

            CompletedBookings = await _bookingOverviewService.GetAllCompletedBookings();

            if (bookingList.Any())
                SelectedBooking = bookingList.First();
        }
        catch
        {
            LoadFailed = true;
        }
    }

    void ShowOverlay(BookingDTO booking)
    {
        SelectedBooking = booking;
        ShowBookingDetails = true;
        ShowCompletedDetails = false;
        ShowDetails = true;
    }

    void ShowOverlayCompleted(BookingSnapshot booking)
    {
        SelectedCompletedBooking = booking;
        ShowBookingDetails = false;
        ShowCompletedDetails = true;
        ShowDetails = true;
    }

    void DeleteBookingWarning()
    {
        toggleBookingWarning = true;
    }

    private async Task ConfirmDeleteBooking()
    {
        await _bookingOverviewService.DeleteBookingAsync(SelectedBooking);
        Refresh();
    }
    private void Refresh()
    {
        Navi.Refresh(true);        
    }
}