@rendermode InteractiveServer
@using _2nd.Semester.Eksamen.Application.ApplicationInterfaces;
@using _2nd.Semester.Eksamen.Domain
@using _2nd.Semester.Eksamen.Domain.Entities.Products
@using _2nd.Semester.Eksamen.Domain.Entities.History
@using _2nd.Semester.Eksamen.Domain.Entities.Products.BookingProducts
@using _2nd.Semester.Eksamen.Domain.Entities.Persons.Customer
@using _2nd.Semester.Eksamen.Domain.Entities.Products.BookingProducts.TreatmentProducts
@using _2nd.Semester.Eksamen.WebUi.Components.Shared
@using _2nd.Semester.Eksamen.WebUi.Components.Pages.PaymentPages
@using _2nd.Semester.Eksamen.Application.DTO.ProductDTO.BookingDTO
@using _2nd.Semester.Eksamen.Application.DTO.PersonDTO.CustomersDTO
@using Components.Pages.ProductPages.BookingPages
@inject IBookingService bookingService

@if(ShowBookingDetails)
{
    <div class="d-flex flex-column h-100">

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger m-3">@errorMessage</div>
        }


        <div class="card-header text-white rounded-top gap-5 px-3 py-2" style="background-color:#034265; display:flex; flex-direction:row; width:60vw;">
            <h2 class="mb-0 text-white"> @(SelectedBooking.Customer is PrivateCustomerDTO pc ? $"{SelectedBooking.Customer.Name} {pc.LastName}" : SelectedBooking.Customer.Name)</h2>
            <button class="btn btn-primary ms-auto" style="width: 15%;" @onclick="Pay"><b>Betal</b></button>
        </div>


        <div class="p-4 flex-grow-1 overflow-auto">

            <div class="text-center mb-4 border-bottom border-dashed pb-3">
                <h3 class="mb-1">@SelectedBooking.Start.ToString("dd/MM/yyyy")</h3>
                <h5 class="mb-0">@SelectedBooking.Start.ToString("HH:mm") - @SelectedBooking.End.ToString("HH:mm")</h5>
                <h7><span class="badge bg-dark ms-auto bg-opacity-75"> @(CurrentTime<SelectedBooking.Start? TimeUntil : TimeSinceThen)</span></h7>
            </div>


            @if (SelectedBooking.TreatmentBookingDTOs.Any())
            {
                <div class="mb-4">
                    @foreach (var treatment in SelectedBooking.TreatmentBookingDTOs)
                    {
                        <div class="mb-3 p-3 border rounded shadow-sm">
                            <h5 class="fw-bold mb-1">@treatment.Treatment.Name</h5>
                            <p class="mb-1"><strong>Tid:</strong> @treatment.Start.ToString("HH:mm") - @treatment.End.ToString("HH:mm")</p>
                            <p class="mb-1"><strong>Pris:</strong> @treatment.Treatment.BasePrice.ToString("C")</p>
                            <p class="mb-1"><strong>Ansat:</strong> @treatment.Employee.Name</p>
                            <p class="mb-0"><strong>Erfaring:</strong> @treatment.Employee.ExperienceLevel</p>
                        </div>
                    }
                </div>
            }


            <div class="d-flex flex-column gap-2">
                <div class="btn-group">
                    <button class="btn card-btn w-50 " @onclick="Delete" style="background-color:crimson">Slet</button>
                    <button class="btn card-btn w-50" @onclick="Edit">Rediger</button>
                </div>
            </div>
        </div>
    </div>
}
else if (ShowCompletedDetails)
{
    <div class="d-flex flex-column h-100">

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger m-3">@errorMessage</div>
        }


        <div class="card-header text-white rounded-top gap-5 px-3 py-2" style="background-color:#034265; display:flex; flex-direction:row; width:60vw;">
            <h2 class="mb-0 text-white">@SelectedCompletedBooking.CustomerSnapshot.Name</h2>
        </div>

        <div class="p-4 flex-grow-1 overflow-auto">

            <div class="text-center mb-4 border-bottom border-dashed pb-3">
                <h5><p>@SelectedCompletedBooking.OrderSnapshot.DateOfPayment.ToString("ddd/d/MMM")</p></h5>
                <h7><span class="badge bg-dark ms-auto bg-opacity-75">@CompletedTimeSince</span></h7>
            </div>


            @if (SelectedCompletedBooking.TreatmentSnapshot.Any())
            {
                <div class="mb-4">
                    @foreach (var treatment in SelectedCompletedBooking.TreatmentSnapshot)
                    {
                        <div class="mb-3 p-3 border rounded shadow-sm">
                            <h5 class="fw-bold mb-1">@treatment.Name</h5>
                            <p class="mb-1"><strong>Pris:</strong> @treatment.PricePerUnit.ToString("C")</p>
                            <p class="mb-1"><strong>Kategori:</strong> @treatment.Category</p>
                        </div>
                    }
                </div>
            }
            <div class="card-footer bg-transparent border-0 d-flex flex-column gap-2">
                <button class="btn btn-outline-secondary" @onclick="Close">Luk</button>
            </div>
        </div>
    </div>
}


@code {

    [Inject] IBookingOverviewService _bookingOverviewService { get; set; }
    private DateTime CurrentTime => DateTime.Now;

    private TimeSpan TimeTill => SelectedBooking.Start - CurrentTime;
    private string TimeUntil => $"Om {DaysUntil} {HoursUntil} {MinutesUntil}";
    private string DaysUntil => TimeTill.Days > 0 ? $"{TimeTill.Days} Dage" : "";
    private string HoursUntil => TimeTill.Hours > 0 ? $"{TimeTill.Hours} Timer" : "";
    private string MinutesUntil => TimeTill.Minutes > 0 ? $"{TimeTill.Minutes} Minutter" : "";

    private TimeSpan TimeSince => CurrentTime - SelectedBooking.Start;
    private string TimeSinceThen => $"For {DaysSinceThen} {HoursSinceThen} {MinutesSinceThen} Siden";
    private string DaysSinceThen => $"{TimeSince.Days} Dage";
    private string HoursSinceThen => $"{TimeSince.Hours} Timer";
    private string MinutesSinceThen => $"{TimeSince.Minutes} Minutter";

    private TimeSpan TimeSinceCompleted =>
        CurrentTime - SelectedCompletedBooking.OrderSnapshot.DateOfPayment.ToDateTime(TimeOnly.MinValue);

    private string CompletedTimeSince =>
        $"For {TimeSinceCompleted.Days} Dage, {TimeSinceCompleted.Hours} Timer, og {TimeSinceCompleted.Minutes} Minutter Siden";

    [Parameter] public BookingDTO SelectedBooking { get; set; }
    [Parameter] public BookingSnapshot SelectedCompletedBooking { get; set; }
    [Parameter] public int BookingSnapshotId { get; set; }
    [Parameter] public int BookingId { get; set; } = 0;


    [Parameter] public string errorMessage { get; set; }

    [Parameter] public bool ShowBookingDetails { get; set; } = false;
    [Parameter] public bool ShowCompletedDetails { get; set; } = false;

    [Parameter] public EventCallback OnPay { get; set; }
    [Parameter] public EventCallback OnEdit { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    public async Task Close() => await OnClose.InvokeAsync();
    public async Task Edit() => await OnEdit.InvokeAsync();
    public async Task Delete() => await OnDelete.InvokeAsync();
    public async Task Pay() => await OnPay.InvokeAsync();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (ShowBookingDetails && SelectedBooking == null && BookingId == 0)
            {
                SelectedBooking = await _bookingOverviewService.GetBookingByIdAsync(BookingId);
                if (SelectedBooking != null)
                    ShowBookingDetails = true;
                else
                    errorMessage = "Bookingen Kunne Ikke Findes";
            }
        }
        catch
        {
        }
    }
}
